*.pyc
__pycache__/
*.pyo
*.pyd
*.env

venv/
.env/
*.egg-info/
dist/
build/

*.db
*.sqlite3

uploads/

*.log

.vscode/
.idea/
.DS_Store

static/images/*~
static/js/*~
static/css/*~

*.tmp
*.swp
*.swo

pip-log.txt
pip-delete-this-directory.txt

.installed.cfg

.history
